{% load static %}
<!DOCTYPE html>
<html>
<body>
<head>
	<meta charset="UTF-8" >
	<title>Synergy of Diaspora - Login</title>
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'synerd/css/css.css' %}">
	<script>
		function swapCSS(sheet) {
			document.getElementById('pagestyle').setAttribute('href', sheet);
			localStorage.setItem("sheet", sheet);
			}

		window.onload
			swapCSS(localStorage.getItem("sheet") || "{% static 'synerd/css/css.css' %}" );

	</script>
    <style>
        td {
            padding: 5px;
            width: 50%;
        }

        input[type=submit] {
            width: 100%;
        }
		.registerHeader a:hover {
			background-color: transparent;
		}
    </style>
    <script type="text/javascript" src="{% static 'synerd/scripts/validation.js' %}"></script>
</head>
	<div class="registerDiv">
        <div class="registerHeader">
        <br />
        <a href="{% url 'home' %}"><img class="center" style="width: 20%;" src="{% static 'synerd/images/logo.png' %}" alt="logo" /></a>
        <h2 id="demos">synerD User Login</h2>
        <br/>
        </div>
    	<div class="formDiv">
            <form id="loginform" action="" method="post" enctype="text/plain">
                <div>
                <table class="tableDiv">
                    <tr>
                        <td>
                            <label for="fname">Username</label>
                            <input type="text" name="username" id="username" required="required" maxlength="8">
                        </td>
                        <td>
                            <label for="lname">Password</label>
                            <input type="password" name="password" id="pw" required="required" maxlength="8">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" value="Login" id="submitID" style="margin: auto;" onclick="logincheck()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="usernamemessage" style="display: none;">Username Field is Empty<br /></span>
                            <span id="passwordmessage" style="display: none;">Password Field is Empty</span>
                        </td>
                        <td colspan="2">
                            <span id="lowererrormessage">&nbsp;</span>
                            <br />
                            <span id="uppererrormessage">&nbsp;</span>
                            <br />
                            <span id="digiterrormessage">&nbsp;</span>
                            <br />
                            <span id="lengtherrormessage">&nbsp;</span>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
            <br />
            <br />
    	</div>
	</div>
	<div class="center"><a href="#" onclick="swapCSS('{% static 'synerd/css/css.css' %}')">LIGHT THEME</a><a href="#" onclick="swapCSS('{% static 'synerd/css/cssdark.css' %}')">DARK THEME</a></div>
</body>
</html>
