{% load static %}
<!DOCTYPE html>
<html>
<body>
<head>
	<meta charset="UTF-8" >
	<title>Synergy of Diaspora - Registration</title>
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'synerd/css/css.css' %}">
	<script>
		function swapCSS(sheet) {
			document.getElementById('pagestyle').setAttribute('href', sheet);
			localStorage.setItem("sheet", sheet);
			}

		window.onload
			swapCSS(localStorage.getItem("sheet") || "{% static 'synerd/css/css.css' %}" );
		
	</script>
	<style>
        td {
            padding: 5px;
            width: 50%;
        }
		.registerHeader a:hover {
			background-color: transparent;
		}

        th {
            text-align: right !important;
        }

    </style>
    <script type="text/javascript" src="{% static 'synerd/scripts/validation.js' %}"></script>
</head>
	<div class="registerDiv">
        <div class="registerHeader">
        <br />
        <a href="{% url 'home' %}"><img class="center" style="width: 20%;" src="{% static 'synerd/images/logo.png' %}" alt="logo" /></a>
        <h2 id="demos">synerD User Registration Form</h2>
		{% for value in error_text %}
                <p class="errorText">
                {{ value }}
                </p>
                {% endfor %}
        </div>
    	<div class="formDiv">
        <form id="registerform" action="" method="post">
           <table class="tableDiv">
            {{ register_form.as_table }}
                <tr>
                    <td  class="right">
                        <input type="submit" value="Submit" id="submitID" style="margin: auto;">
                     </td>
                    <td>
                        <input type="reset" value="Clear" style="margin: auto;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                    <span id="lowererrormessage" style="display: none;">Password Requires a lowercase letter.<br /></span>
                    <span id="uppererrormessage" style="display: none;">Password Requires an uppercase letter.<br /></span>
                    <span id="digiterrormessage" style="display: none;">Password Requires a digit.<br /></span>
                    <span id="lengtherrormessage" style="display: none;">Password must 4 to 8 in length</span>
                    </td>
                </tr>
		<tr>
		</tr>
            </table>
            {% csrf_token %}            
                <span id="emailaddresserror">&nbsp;</span> <!-- Span that holds the email check error -->
            </form>
		<!--{% for value in error_text %}
		<p class="errorText">
		{{ value }}
		</p>
		{% endfor %}-->
            </div>
            <br />
            <br />
    	</div>
	</div>
	<div class="center"><a href="#" onclick="swapCSS('{% static 'synerd/css/css.css' %}')">LIGHT THEME</a><a href="#" onclick="swapCSS('{% static 'synerd/css/cssdark.css' %}')">DARK THEME</a></div>
	<script>
	document.getElementsByName("Email")[0].setAttribute("placeholder", "example@domain.com");
	const elements = document.getElementsByClassName("errorlist");
	elements[0].remove();
	</script>
</body>
</html>
