{% load static %}
<!DOCTYPE html>
<html>
<body>
<head>
	<meta charset="UTF-8" >
	<title>Synergy of Diaspora - Search</title>
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'synerd/css/css.css' %}">
	<script>
		function swapCSS(sheet) {
			document.getElementById('pagestyle').setAttribute('href', sheet);
			localStorage.setItem("sheet", sheet);
			}

		window.onload
			swapCSS(localStorage.getItem("sheet") || "{% static 'synerd/css/css.css' %}" );

	</script>
    <style>
        td {
            padding: 5px;
            width: 50%;
        }

        input[type=submit] {
            width: 100%;
        }
		.registerHeader a:hover {
			background-color: transparent;
		}

    </style>
    <script type="text/javascript" src="{% static 'synerd/scripts/validation.js' %}"></script>
</head>
	<div class="registerDiv">
        <div class="registerHeader">
        <br />
        <a href="{% url 'home' %}"><img class="center" style="width: 20%;" src="{% static 'synerd/images/logo.png' %}" alt="logo" /></a>
        <h2 id="demos">synerD Subscriber Search</h2>
        <br/>
        </div>
    	<div class="formDiv">

		<form id="searchForm" action="" method="get">
        <div>
        <table class="tableDiv">
        	<tr>
				<td>
					<input type="text" name="search" placeholder="Search..." id="searchbox" value="">
				</td>
		    </tr>
		    <tr>
				<td colspan="2">
					<button type="submit" value="Search" id="submitSearch" style="margin: auto;">Search</button>
                 </td>
            </tr>
            </table>
         <table class="tableDiv">
		 <th>ID</th>
		 <th>Username</th>
         {%for element in searchResult%}
         	<tr>
    			<td>{{ element.subscriberID }}</td>
    			<td>{{ element.username }}</td>
            </tr>
         {% endfor %}
         </table>
         </form>
         </div>
         <br />
         <br />
    	</div>
	</div>
	<div class="center"><a href="#" onclick="swapCSS('{% static 'synerd/css/css.css' %}')">LIGHT THEME</a><a href="#" onclick="swapCSS('{% static 'synerd/css/cssdark.css' %}')">DARK THEME</a></div>
</body>
</html>
